[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/balena-os/poky
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = https://git.yoctoproject.org/git/meta-raspberrypi
[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts.git
[submodule "tests/autohat"]
	path = tests/autohat
	url = https://github.com/balena-io/autohat.git
[submodule "layers/meta-balena-bsp"]
	path = layers/meta-balena-bsp
	url = https://github.com/balena-os/meta-balena-bsp.git
[submodule "layers/meta-balena-os"]
	path = layers/meta-balena-os
	url = https://github.com/balena-os/meta-balena-os.git
