[submodule "layers/poky"]
	path = layers/poky
	url = https://git.yoctoproject.org/git/poky
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = https://git.yoctoproject.org/git/meta-raspberrypi
[submodule "layers/meta-resin"]
	path = layers/meta-resin
	url = https://github.com/resin-os/meta-resin.git
[submodule "resin-yocto-scripts"]
	path = resin-yocto-scripts
	url = https://github.com/resin-os/resin-yocto-scripts.git
[submodule "layers/oe-meta-go"]
	path = layers/oe-meta-go
	url = https://github.com/mem/oe-meta-go.git
