# PREEMPT_RT was merged into mainline Linux at 6.12 (Sept 2024) for
# x86, x86_64, RISC-V and ARM64.
CONFIG_PREEMPT_RT=y

# CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE sets the CPU in performance
# mode meaning a stable clock and hence better RT behavior
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y
